

<div id="steps">
    <div ng-repeat="ponto in pontos" class="row ponto_historia" data-order="{{ ponto.order }}" data-id="{{ ponto.id}}">
        <div class="col-xs-1 pontoId">{{ inc(ponto.order) }}</div>
        <div class="col-xs-10 locationAddress">{{ pontoAddress(ponto) }}</div>
        <div class="col-xs-12 pontoHistoria" data-ng-controller="historiaController" data-ng-include="'/htmleditor.html'"></div>
        <div class="col-xs-12" data-ng-include="'/fileupload.html'"></div>
    </div>
</div>