<div class="container-fluid">
    <div id="allSlides" class="carousel slide" data-ride="carousel" ng-controller="markController">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li ng-repeat="(index,slide) in allSlides" data-target="#allSlides"
                data-ponto="{{slide.order}}"
                data-foto="{{slide.foto_id}}"
                class=""></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" ng-controller="markController">
            <div class="item" ng-repeat="(index,slide) in allSlides" data-foto="{{slide.foto_id}}">
                <div class="carousel-caption-box">
                    <div class="carousel-caption">
                        <h3>{{ inc(slide.order) }} - {{ pontoAddress(slide) }}</h3>
                        <div ng-bind-html="sceHtml(slide.historia)"></div>
                    </div>
                </div>
                <img data-ng-src="{{slide.url}}" alt="{{slide.ficheiro}}">
            </div>


        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#allSlides" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#allSlides" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Seguinte</span>
        </a>
    </div>
</div>