

<div id="steps">
    <div ng-repeat="ponto in pontos" class="container-fluid flexslider row ponto_historia" data-order="{{ ponto.order }}" data-id="{{ ponto.id}}" style="display:none">
        <ul class="slides">
            <!--<li data-toggle="modal" data-target="#allFotosWindow"-->
            <li data-ponto="{{ponto.order}}"
                data-foto="0">
                <div class="row" >
                    <div class="col-xs-1"></div>
                    <div class="col-xs-1 vpId">{{ inc(ponto.order) }}</div>
                    <div class="col-xs-8 vpAddress">{{ pontoAddress(ponto) }}</div>
                    <div class="col-xs-12 vpHistory" style="zoom: 60%" ng-bind-html="sceHtml(ponto.historia)">{{}}</div>

                </div>
            </li>
            <!-- <li data-toggle="modal" -->
            <li data-target="#allFotosWindow"
                class="col-xs-6 vpFotos" data-ng-repeat="foto in ponto.Fotos"
                data-ponto="{{ponto.order}}"
                data-foto="{{foto.id}}">
                <img class="vpFoto"  data-ng-src="{{foto.url}}">
            </li>
        </ul>
    </div>
</div>