<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/jquery.fileupload.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <script type="text/javascript" src="/js/gmaps.js"></script>
    <script type="text/javascript" src="/js/rainbowvis.js"></script>

    <link href='//fonts.googleapis.com/css?family=Convergence|Bitter|Droid+Sans|Ubuntu+Mono' rel='stylesheet' type='text/css' />

    <script type="text/javascript" src="js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="js/jquery.fileupload-image.js"></script>
    <script type="text/javascript" src="js/jquery.fileupload-video.js"></script>
    <script type="text/javascript" src="js/jquery.fileupload-validate.js"></script>
    <script type="text/javascript" src="js/jquery.fileupload-angular.js"></script>
    <script type="text/javascript" src="js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="js/tinymce.js"></script>
      <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&language=pt&region=pt"></script>
    <script type="text/javascript">
      window.getHost=function(){
          return 'http://rotapt.byethost7.com';//window.location.protocol+"//"+window.location.hostname;//
      }
    </script>
    <script defer src="js/app.js"></script>
    <script defer src="js/routes.js"></script>
    <script defer src="js/services.js"></script>
    <script defer src="js/directives.js"></script>
    <script defer src="js/controllers.js"></script>


  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
    <div>
      <div>
          <ion-nav-bar class="bar-stable">
              <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Voltar</ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-view></ion-nav-view>
      </div>
    </div>

    <script id="icons-window.html" type="text/ng-template" ng-controller="icon_selectCtrl">
      <ion-modal-view>
        <ion-header-bar>
            <button class="button" ng-click="closeModal()">Voltar</button>
            <h1 class="title">Escolha um novo icons...</h1>
        </ion-header-bar>
        <ion-content padding="true" class="has-header"  scroll="true">
          <ion-list can-swipe="listCanSwipe">
            <ion-item ng-repeat="i in icons"
                      class="item-icon-left"
                      ng-click="selectIcon(i.icon)">
              <img ng-src="{{url(i.icon,2,false)}}" style="display: inline-block;zoom:1.4">
              <span>{{i.name}}</span>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-modal-view>
    </script>


  </body>
</html>
