<ion-view title="Entrar" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nome/Email</span>
                    <input type="text" placeholder="Nome/Email"  ng-model="user.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Senha" ng-model="user.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="entrar-button1" ng-click="login()" class="button button-stable  button-block">Entrar</button>
            <a ui-sref="menu.subscriO" id="entrar-button2" class="button button-positive  button-block button-clear">Ou subscreva uma conta</a>
        </form>
    </ion-content>
</ion-view>