<ion-view title="Inicio" id="page1">
    <ion-content padding="true" class="has-header" scroll="false">
            <div class="row">
                <h3 id="inicio-heading1"
                    style="color:#000000;width:100%;min-height: 15px;"
                    ng-model="rota.Rota.descricao"
                    ng-blur="putName($event,rota.Rota.descricao)"
                    ng-change="putName($event,rota.Rota.descricao)"
                    ng-init="previousDescription=rota.Rota.descricao"
                    ng-if="loggedIn==true"
                    contenteditable="true">{{rota.Rota.descricao}}</h3>
            </div>
            <div class="row">
                <a ng-if="!loggedIn" ui-sref="menu.entrar" id="inicio-button7" class="button button-positive  button-block col">Entrar</a>
            </div>
            <div class="row">
                <a ng-if="!loggedIn" ui-sref="menu.subscriO" id="inicio-button8" class="button button-positive  button-block col">Subscrever</a>
            </div>
            <div class="row">
                <div class="marker-button col-05"
                     ng-repeat="ponto in pontos"
                     ng-click="editMarkerDetail(ponto)">{{inc(ponto.order)}}</div>
            </div>
            <div style="width: 100%">
                <div id="map" class="col" ng-init="initMap()">
                </div>
            </div>
    </ion-content>
</ion-view>