<ion-view title="Pontos" id="page8">
    <ion-content padding="true" class="has-header" scroll="true">
        <ion-list can-swipe="listCanSwipe"
                  data-order="{{ponto.order}}"
                  data-id="{{ponto.id}}"

                  style="display:block">
            <ion-item>
                {{ponto.address}}
            </ion-item>
            <ion-item>

                    <h4>Escreva sobre este local</h4>
                    <div ui-tinymce="tinymceOptions"
                         ng-model="ponto.historia"
                         class="pontoHistoriaEditor"></div>
            </ion-item >
            <ion-item data-ng-include="'templates/fileupload.html'">

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
