<ion-view title="Rotas" id="page2">
    <ion-content padding="true" class="has-header"  scroll="true">


        <ion-list ng-controller="rotasCtrl"
                  show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe">
            <ion-item ng-repeat="i in rotas"
                      class="item-thumbnail-left"
                      ng-click="openRoute(i.id)">

                <img ng-src="{{i.foto.thumbnailUrl}}">
                <h2>{{i.descricao}}</h2>
                <p>{{i.utilizador.tipoUtilizador}}: {{i.utilizador.nome + "<" + i.utilizador.email + ">"}}</p>
                <ion-option-button class="button-positive"
                                   ng-click="share(item)">
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="i.delete(i.id)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>