<ion-view title="Inicio" id="page1">
    <ion-content padding="true" class="has-header" scroll="false">
        <h3 id="inicio-heading1" style="color:#000000;">Caro amigo. Volte sempre</h3>
        <a ng-if="!loggedIn" ui-sref="menu.entrar" id="inicio-button7" class="button button-positive  button-block">Entrar</a>
        <a ng-if="!loggedIn" ui-sref="menu.subscriO" id="inicio-button8" class="button button-positive  button-block">Subscrever</a>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>