<ion-view title="Subscrição" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Senha">
                </label>
            </ion-list>
            <button id="subscriO-button3" class="button button-stable  button-block">Subscrever</button>
        </form>
    </ion-content>
</ion-view>