ul#gmaps_context_menu,ul#gmaps_context_menu ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    z-index: 9999;
}

ul#gmaps_context_menu li
{
    margin: 0px;
    padding: 0px;
}

ul#gmaps_context_menu li:hover
{
    text-decoration: none;
    background-color: #2b542c;
    color:whitesmoke;
}

ul#gmaps_context_menu li a{
    color:inherit;
    text-decoration:none;
    font-size: inherit;
}

ul#gmaps_context_menu li>div{
    color:inherit;
    text-decoration:none;
    font-size: inherit;
}

ul#gmaps_context_menu>li label{
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 800;
    font-size: smaller;
}

ul#gmaps_context_menu>li input{
    color:black;
    font-size: inherit;
    height: inherit;
}



ul#gmaps_context_menu a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight: 500;
    font-size: smaller;
    line-height: 25px;
    padding:0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul#gmaps_context_menu li
{
    position:relative;
//
float:left;
//
margin:0;
//
padding:0;
    font-size: smaller !important;
}

ul#gmaps_context_menu ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

ul#gmaps_context_menu ul>li
{
    /* float:none; */
    width:200px;
    padding: 3px 15px;
}

ul#gmaps_context_menu ul a
{
    line-height:120%;
    padding:10px 15px
}

ul#gmaps_context_menu li:hover ul
{
    display:block;
    left:+50px;
}

.marker-button{
    background-color: #286090;
    padding: 15px;
    border-radius: 25px;
    margin: 2px;
    color: lightgray;
}

[contenteditable=true]{
    border-color:transparent;
    border-style: dashed;
    border-width: 1px;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
}
[contenteditable=true]:hover{
    border-style: dashed;
    border-width: 1px;
    border-color:black;
}

.row{
    margin-left: 0px;
}

form#fileupload{
    width: 100% !important;
}

form#fileupload table.table-striped.files td{
    min-width: 5%;
    width: auto !important;
    white-space:normal;
}
